/* You can add global styles to this file, and also import other style files */
// @import "./assets/iconfont/material-icons.css";
// @import "../node_modules/bootstrap-css-only/css/bootstrap.min.css";
@import "../node_modules/bootstrap-css-only/css/bootstrap-grid.min.css";
@import "../node_modules/bootstrap-css-only/css/bootstrap-reboot.min.css";
@import "./iconfont/material-icons.css";
// @import "../node_modules/@fortawesome/fontawesome-free/css/all.css";
@import "themes";
html,
body {
  height: 100%;
}
body {
  margin: 0;
}

.img1 {
  /* background-image: url("../assets/1.jpg"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  background-attachment: fixed;
}

.h1 {
  text-transform: uppercase;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 0.075em;
  text-align: center;
  padding: 4rem 0;
  color: aliceblue;
}

.example-container {
  position: relative !important;
  // min-height: 200px !important;
}

table {
  width: 100% !important;
}

.example-loading-shade {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  bottom: 56px !important;
  right: 0 !important;
  background: rgba(0, 0, 0, 0.15) !important;
  z-index: 1 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
