<section style="background-color: var(--backGround-gray);">

  <div class="container">
    <h2>{{o.title}}</h2>

    <div class="row">
      <div class="col-md-4" *ngFor="let e of o.list; let i=index">
          <div class="card">
            <h5>{{e.domaine}}</h5>
            <div *ngFor="let o of e.items; let i=index">
              <p>{{o.name}}</p>
              <mat-progress-bar mode="determinate" [value]="o.value"></mat-progress-bar>
            </div>
          </div>
      </div>
    </div>

  </div>
</section>
