.page {
  width: 208mm;
  min-height: 295mm;
  padding: 20mm;
  margin: 10mm auto;
  // border: 1px #d3d3d3 solid;
  // border-radius: 5px;
  // background: rgb(239, 239, 241);
  // box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

  header {
    me {
      display: flex;
    }

    img {
      border-radius: 50%;
      height: 250px;
      width: 250px;
      border: 1px solid #f7f7f7;
    }
  }
}
