<div class="host">

  <div class="mybtn flex flex-col justify-center my-3" [@scrollTitle]="state">
    <button mat-mini-fab color="accent" (click)="generateWordDocument()">
      <mat-icon >get_app</mat-icon>

      <!-- <mat-icon *ngIf="pdf.loader">hourglass_top</mat-icon> -->
    </button>
  </div>

  <div class="page my-3 mat-elevation-z8" style="height: 100%;" #cv [@scrollTitle]="state">

    <table>
      <tr co>
        <td colspan="2" style="padding: 5px;">
          <ng-container [ngTemplateOutlet]="aside"></ng-container>
        </td>
        <td colspan="5" style="vertical-align: top;padding: 5px;">
          <ng-container [ngTemplateOutlet]="main"></ng-container>
        </td>
      </tr>
    </table>
  </div>
</div>
<ng-template #aside>
  <aside>
    <section>
      <img [src]="o.about.image" [alt]="o.about.firstName" width="130" height="130">
    </section>
    <h3>{{o.about.firstName}} {{o.about.lastName}}</h3>
    <h4>{{o.about.profession}} </h4>

    <section>
      <ng-container *ngFor="let e of o.about.info; let i=index">
        <p><a style="font-size: 8pt;" [href]="e.href" target="_blank" rel="noopener noreferrer">{{e.name}}</a></p>
      </ng-container>
    </section>

    <hr>

    <section>
      <h4>✦ Compétences</h4>
      <ng-container *ngFor="let e of o.skills; let i=index">
        <h5>{{e.domaine}}</h5>
        <ng-container *ngFor="let s of e.items; let i=index">
          <p>- {{s.name}}</p>
        </ng-container>
      </ng-container>
    </section>

    <hr>

    <section>
      <h4>✦ Langue</h4>
      <ng-container *ngFor="let e of o.langs; let i=index">
        <p>{{e.name}} : {{e.level}}</p>
      </ng-container>
    </section>

    <hr>

    <section>
      <h4>✦ Loisir</h4>
      <ng-container *ngFor="let e of o.hobbies; let i=index">
        <p>{{e.name}}</p>
      </ng-container>
    </section>
  </aside>
</ng-template>

<ng-template #main>
  <main style="padding-left: 5px;">
    <section>
      <h4>✦ Experiences</h4>

      <ng-container *ngFor="let e of o.experiences; let i=index">
        <h5>{{e.job}} ({{e.period}})&nbsp;&nbsp;<span>⊳</span>&nbsp;&nbsp;{{e.societe}}</h5>
        <ng-container *ngFor="let e of e.task">
          <p>-&nbsp;{{e}}</p>
        </ng-container>
        <p *ngIf="!!e.links.length">
          <span>Liens : </span>
        <ng-container *ngFor="let e of e.links">
          &nbsp;<a [href]="$any(e).href" target="_blank" rel="noopener noreferrer">{{$any(e).name}}</a>&nbsp;&nbsp;
          </ng-container>
        </p>
      </ng-container>
    </section>

    <hr>

    <section>
      <h4>✦ Educations</h4>

      <ng-container *ngFor="let e of o.educations; let i=index">
        <h5>{{e.period}}&nbsp;&nbsp;<span>⊳</span>&nbsp;&nbsp;{{e.universite}}</h5>
        <p class="">-&nbsp;{{e.dipolma}}</p>
      </ng-container>
    </section>
  </main>
</ng-template>
