body {
  font-family: Calibri, sans-serif;
  line-height: 1;
}
p, h4, h5 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: .0.5rem; /* Adjust font size as needed */
}

.mybtn {
  position: fixed;
  right: 15px;
  top: 40vh;
  z-index: 1;
  button {
    margin: 3px;
  }
}

.page {
  border-radius: 0;
  width: 210mm;
  min-height: 297mm;
  margin: 0mm auto;
}
