<!-- <app-admin *ngIf="session.userRole()"></app-admin> -->
<header>
  <mat-toolbar color="primary" class="mat-elevation-z6" style="min-height: 50px">
    <mat-toolbar-row style="height: 50px;">
      <button mat-button routerLinkActive="active">
        <mat-icon>menu</mat-icon>
      </button>



      <span style="flex: 1 1 auto;"></span>

      <app-theme></app-theme>

    </mat-toolbar-row>
  </mat-toolbar>
</header>

<main >
  <div class="ml-3 mr-3 mb-5">
    <router-outlet></router-outlet>
  </div>
</main>
