// @import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
// @import url('https://fonts.googleapis.com/css?family=Montserrat');
// @import "./iconfont/montserrat.css";
// @include mat-core();


// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
// $font-family: 'Montserrat',
// $custom-typography: mat-typography-config(
  //   $headline: mat-typography-level(32px, 48px, 700),
  //   $body-1: mat-typography-level(16px, 24px, 500)
  // );

  // @include angular-material-typography($custom-typography);
  // @include mat-core($custom-typography);
  // @import 'themes/black-theme.scss';

  // @import "@angular/material/theming";

  @use '@angular/material' as mat;

@import 'mat-palette-gen.scss';

$primary-color: #4f144c;
$accent-color: #07a29f;
$warn-color: #fa9105;

$primary-palette: createPalette($primary-color);
$accent-palette: createPalette($accent-color);
$warn-palette: createPalette($warn-color);

$primary: mat-palette($primary-palette);
$accent: mat-palette($accent-palette);
$warn: mat-palette($warn-palette);

// Pick one
$light: mat.define-light-theme(( color: (primary: $primary,accent: $accent, warn: $warn )));
$dark: mat.define-dark-theme(( color: (primary: $primary,accent: $accent, warn: $warn )));

// $theme: mat-light-theme($primary, $accent, $warn);

// @include angular-material-theme($light);

.light-theme {
  @include mat.all-component-themes($light);

  --primary: #{mat-color($primary)};
  --accent: #{mat-color($accent)};
  --warn: #{mat-color($warn)};
  --color: rgb(0, 0, 0);
  --background: white;

  .alert-snackbar {
    background-color: var(--warn);
    color: white !important;
  }

  .load-snackbar {
    background-color: var(--accent);
    color: white !important;
    font-weight: bold;
  }

  .green-snackbar {
    background-color: var(--primary);
    color: white !important;
  }
}

.dark-theme {
  @include mat.angular-material-theme($dark);
  --primary: #{mat-color($primary)};
  --accent: #{mat-color($accent)};
  --warn: #{mat-color($warn)};
  --color: white;
  --background: #424242;

  .alert-snackbar {
    background-color: var(--warn);
  }

  .load-snackbar {
    background-color: var(--accent);
    color: white !important;
    font-weight: bold;
  }

  .green-snackbar {
    background-color: var(--primary);
  }
}



// // candy
// $candy-app-primary: mat-palette($mat-blue, 700);
// $candy-app-accent: mat-palette($mat-yellow, 600);
// $candy-app-warn: mat-palette($mat-red, 700);

// $candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// .default-theme {
//   @include angular-material-theme($candy-app-theme);
//   --primary: #{mat-color($candy-app-primary)};
// }


// // bark
// $alt-primary: mat-palette($mat-deep-orange, 700, 800, 900);
// $alt-accent: mat-palette($mat-light-green, 700);
// $alt-warn: mat-palette($mat-red, 700);

// $alt-theme: mat-dark-theme($alt-primary, $alt-accent, $alt-warn);

// .dark-theme {
//   @include angular-material-theme($alt-theme);
//   --primary: #{mat-color($alt-primary)};
// }


