mat-card {
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.2);
  margin: -140px 0 20px 0;
  // height: 500px;
}

img {
  border-radius: 50%;
  height: 250px;
  width: 250px;
  border: 1px solid #f7f7f7;
}

button {
  width: 200px;
  height: 55px;
}
