<div>
  <h1>{{title}}</h1>
  <div>
    <form [formGroup]="myForm">

      <pre>

        {{ myForm.value | json}}
      </pre>

      <div *ngFor="let e of columns; let i = index">
        <!-- {{myForm.controls[e.key].value}} -->
        <!-- input text -->
        <ng-container *ngIf="e.formField === 'text'">
          <mat-form-field appearance="fill" class="col-md-6">
            <mat-label>{{e.name}}</mat-label>
            <input matInput [formControl]="myForm.controls[e.key]" [required]="e.required">
          </mat-form-field>
        </ng-container>

        <!-- input checkbox -->
        <ng-container *ngIf="e.formField === 'checkbox'">
          <mat-checkbox class="col-md-6" [formControl]="myForm.controls[e.key]" labelPosition="before">
            {{e.name}}
          </mat-checkbox>
        </ng-container>

        <!-- select -->
        <ng-container *ngIf="e.formField === 'select'">
          <mat-form-field appearance="fill" class="col-md-6">
            <mat-label>{{e.name}}</mat-label>
            <mat-select [formControl]="myForm.controls[e.key]">
              <mat-option *ngFor="let o of selectServices[e.serviceName] | async" [value]="o[e.selectId]">
                {{o[e.selectName]}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </ng-container>

        <!-- date -->
        <ng-container *ngIf="e.formField === 'date'">
          <mat-form-field appearance="fill" class="col-md-6">
            <mat-label>{{e.name}}</mat-label>
            <input matInput [matDatepicker]="i" [formControl]="myForm.controls[e.key]">
            <mat-datepicker-toggle matSuffix [for]="i"></mat-datepicker-toggle>
            <mat-datepicker #i></mat-datepicker>
          </mat-form-field>
        </ng-container>

        <!-- input number -->
        <ng-container *ngIf="e.formField === 'number'">
          <mat-form-field appearance="fill" class="col-md-6">
            <mat-label>{{e.name}}</mat-label>
            <input matInput type="number" [formControl]="myForm.controls[e.key]" [required]="e.required">
          </mat-form-field>
        </ng-container>

        <!-- input text -->
        <!-- <ng-container *ngIf="e.formField === 'password'">
            <mat-form-field appearance="fill" class="col-md-6">
              <mat-label>{{e.name}}</mat-label>
              <input matInput [formControl]="myForm.controls[e.key]" [required]="e.required">
            </mat-form-field>
          </ng-container> -->

        <!-- input relation -->
        <ng-container *ngIf="e.formField === 'relation'">
          <div [formGroup]="myForm.get(e.key)">


            <ng-container *ngFor="let r of e.columns; let i = index">

              <!-- {{$any(myForm.get(e.key)).controls[r.key].value | json}} --
              {{$any(myForm.get(e.key)).get(r.key).value | json}} -->

              <!-- input text -->
              <ng-container *ngIf="r.formField === 'text'">
                <mat-form-field appearance="fill" class="col-md-6">
                  <mat-label>{{r.name}}</mat-label>
                  <input matInput [formControl]="$any(myForm.get(e.key)).controls[r.key]" [required]="r.required">
                </mat-form-field>
              </ng-container>

              <!-- input checkbox -->
              <ng-container *ngIf="r.formField === 'checkbox'">
                <mat-checkbox class="col-md-6" [formControl]="$any(myForm.get(e.key)).controls[r.key]" labelPosition="before">
                  {{r.name}}
                </mat-checkbox>
              </ng-container>

              <!-- select -->
              <ng-container *ngIf="r.formField === 'select'">
                <mat-form-field appearance="fill" class="col-md-6">
                  <mat-label>{{r.name}}</mat-label>
                  <mat-select [formControl]="$any(myForm.get(e.key)).controls[r.key]">
                    <mat-option *ngFor="let o of selectServices[r.serviceName] | async" [value]="o[r.selectId]">
                      {{o[r.selectName]}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </ng-container>

              <!-- date -->
              <ng-container *ngIf="r.formField === 'date'">
                <mat-form-field appearance="fill" class="col-md-6">
                  <mat-label>{{r.name}}</mat-label>
                  <input matInput [matDatepicker]="i" [formControl]="$any(myForm.get(e.key)).controls[r.key]">
                  <mat-datepicker-toggle matSuffix [for]="i"></mat-datepicker-toggle>
                  <mat-datepicker #i></mat-datepicker>
                </mat-form-field>
              </ng-container>

              <!-- input number -->
              <ng-container *ngIf="r.formField === 'number'">
                <mat-form-field appearance="fill" class="col-md-6">
                  <mat-label>{{r.name}}</mat-label>
                  <input matInput type="number" [formControl]="$any(myForm.get(e.key)).controls[r.key]" [required]="r.required">
                </mat-form-field>
              </ng-container>
            </ng-container>

          </div>

        </ng-container>


      </div>


    </form>

  </div>
  <div align="end">
    <button mat-button (click)="onNoClick()" type="button">Annuler</button>
    <button mat-raised-button color="primary" (click)="onOkClick(myForm.value)" [disabled]="myForm.invalid"
      cdkFocusInitial>Enregistre</button>
  </div>
</div>
